.alert.m-alert--outline.alert-success {
    background-color: #ffffff!important;
    border-color: #ee2a5c!important;
    color: #000000!important;
    font-weight: 400;
    border-radius: 5px;
    padding:5px;
}